# 2. String veri tipi

In [1]:
x1 = 'Mustafa Kemal' #tek tırnak ile string tanımalama
x1

'Mustafa Kemal'

In [2]:
x2 = "Mustafa Kemal" # çift tırnak ile string tanımlama
x2

'Mustafa Kemal'

In [3]:
x3 = """Mustafa Kemal""" # üç tane çift tırnak ile string tanımlama 
x3

'Mustafa Kemal'

In [4]:
print(x1)
print(x2)
print(x3)

Mustafa Kemal
Mustafa Kemal
Mustafa Kemal

In [5]:
'Kaan'ın bugün dersi var  # tek tırnak ve kesme işareti sorunsalı

SyntaxError: invalid syntax (624808160.py, line 1)

In [6]:
"Kaan'ın bugün dersi var" # sorunsalı çift tırnak ile aşmak

"Kaan'ın bugün dersi var"

In [7]:
'Kaan\'ın bugün dersi var' # \ (ters slaş ile sorunlası aşmak)

"Kaan'ın bugün dersi var"

# string değişkenler toplanabilir ve çarpılabilir.

In [8]:
a = "Fener"
b = "Bahçe"

In [9]:
print(a, b)

Fener Bahçe

In [10]:
c = a + b 
c

'FenerBahçe'

In [11]:
d = a + " " + b
d

'Fener Bahçe'

In [12]:
c * 5

'FenerBahçeFenerBahçeFenerBahçeFenerBahçeFenerBahçe'

# Bazı string metotları

In [13]:
x = "çay"
x

'çay'

In [14]:
x.capitalize()

'Çay'

In [15]:
y = x.capitalize()
y

'Çay'

In [16]:
y * 4

'ÇayÇayÇayÇay'

In [17]:
x.center(9)

'   çay   '

In [18]:
x.join("**")

'*çay*'

In [19]:
x.join("*+--+*")

'*çay+çay-çay-çay+çay*'

Pythonda çok sayıda string metodu vardır. Bunlardan bazıları şunlardır:

- upper(): String nesnesindeki tüm karakterleri büyük harfe çevirir.
    
- lower(): String nesnesindeki tüm karakterleri küçük harfe çevirir.
    
- capitalize(): String nesnesindeki ilk karakteri büyük harfe, geri kalanını küçük harfe çevirir.
    
- title(): String nesnesindeki her kelimenin ilk harfini büyük harfe çevirir.
    
- strip(): String nesnesinin başında ve sonunda bulunan boşluk karakterlerini siler.
    
- replace(old, new): String nesnesindeki old parametresiyle belirtilen karakterleri 
new parametresiyle belirtilen karakterlerle değiştirir.

- find(sub): String nesnesinde sub parametresiyle belirtilen alt karakter dizisinin 
ilk bulunduğu indeksi döndürür. Eğer bulamazsa -1 döndürür.
    
- index(sub): String nesnesinde sub parametresiyle belirtilen alt karakter dizisinin 
ilk bulunduğu indeksi döndürür. Eğer bulamazsa ValueError hatası verir.
    
- split(sep): String nesnesini sep parametresiyle belirtilen ayraç karakterine göre 
bölümlere ayırır ve bir liste olarak döndürür. Eğer sep parametresi verilmezse boşluk karakterine göre bölümler.

- join(iterable): Iterable parametresiyle belirtilen bir dizi veya liste gibi 
yinelenebilir bir veri tipinin elemanlarını string nesnesiyle birleştirerek yeni bir string nesnesi döndürür.

In [20]:
x

'çay'

In [21]:
x.upper()

'ÇAY'

In [22]:
y = x.upper()
y

'ÇAY'

In [23]:
z = y.lower()
z

'çay'

In [24]:
u = "vatanını en çok seven görevini en iyi yapandır"
u

'vatanını en çok seven görevini en iyi yapandır'

In [25]:
u.title()

'Vatanını En Çok Seven Görevini En Iyi Yapandır'

In [26]:
t = " strip "
t

' strip '

In [27]:
t.strip()

'strip'

In [28]:
x.replace("ç", "t") # x değişmez !

'tay'

In [29]:
x.replace("çay","haydar") # x değişmez !

'haydar'

In [30]:
x.find("y")

2

In [31]:
x.index("y")

2

------

# String indeksleme ve parçalama

## Python'daki tüm veri tipleri indekslidir ve diğer veri tipleri için aynı kurallar geçerlidir.

In [32]:
u = "Disk"
u

'Disk'

In [33]:
u[2]

's'

In [34]:
u[4]

IndexError: string index out of range

## soldan sağa doğru artan sırada, sağdan sola doğru -1 ile başlayarak azalan sırada

In [35]:
u[-1]

'k'

In [36]:
u[-2]

's'

u = Disk olarak tanımlanan string bir kelime dizesidir ve dize 0 indisinden başlar. Yani dizinin 0. elemanı, D, 1. elemanı i, 2. elemanı s ve üçüncü elemanı da k' dir. Dizide 4. eleman olmadığından u[4] komutu hata vermiştir. Dizinin elemanları çağrılırken, eleman numarası köşeli parantez ile çağırılır.

In [37]:
G = "Ali topu at"
G

'Ali topu at'

In [38]:
G[0]

'A'

In [39]:
G[3]

' '

In [40]:
W = "Zara"
W

'Zara'

In [41]:
W[-1]

'a'

In [42]:
W[-2]

'r'

## String parçalama

Uzun bir string yapısının sadece belirli bir parçası alınmak istenirse aşağıdaki komut yapısı kullanılır: 
[başlangıç indeksi : bitiş endeksi : atlama değeri]

In [43]:
Q = "Çiğdem Talu & Melih Kibar "
Q

'Çiğdem Talu & Melih Kibar '

In [44]:
len(Q)

26

In [45]:
Q[0:3]

'Çiğ'

In [46]:
Q[7:14]

'Talu & '

In [47]:
Q

'Çiğdem Talu & Melih Kibar '

In [48]:
Q[0:26:3]

'Çd l&ehir'

In [49]:
Q[::3]

'Çd l&ehir'

In [50]:
Q[:14]

'Çiğdem Talu & '

In [51]:
Q[4:]

'em Talu & Melih Kibar '

In [52]:
Q[:]

'Çiğdem Talu & Melih Kibar '

In [53]:
Q[:-1]

'Çiğdem Talu & Melih Kibar'

In [54]:
Q[::2]

'Çğe au&MlhKbr'

In [55]:
Q[::1]

'Çiğdem Talu & Melih Kibar '

In [56]:
Q[::4]

'Çea&lKr'

In [57]:
Q[::-1]

' rabiK hileM & ulaT medğiÇ'

Bir stringin uzunluğunu nasıl belirleyebiliriz? Bu amaçla len() fonksiyonu kullanılır. (len=length kelimesinin kısaltmasıdır.)

In [58]:
S = "Diğer makine de hesap yapıyor"
S

'Diğer makine de hesap yapıyor'

In [60]:
len(S)

7

Bir stringin değişimi kolay değildir. Aşağıda buna bir örek verilmiştir.

In [61]:
S = "Mertaba"
S

'Mertaba'

In [62]:
S[3] = "h"

TypeError: 'str' object does not support item assignment

In [63]:
ss = S.replace("t", "h")
print(S)
print(ss)

Mertaba
Merhaba

# veri tipi dönüşümleri

# Tam sayıyı ondalıklı sayıya dönüştüme

In [64]:
# float() fonksiyonu, tam sayının ondalıklı yazılmasını olanaklı kılar 

a = 97
float(a)

97.0

In [65]:
b = float(a)
print(a)
print(b)

97
97.0

In [66]:
bb = int(b)
print(a)
print(bb)

97
97

In [67]:
c = "Kıraç"
float(c)

ValueError: could not convert string to float: 'Kıraç'

# Ondalıklı sayıyı tam sayıya dönüştürme

In [68]:
a = 3.14
int(a)

3

# Sayıların stringe dönüştürülmesi

In [69]:
type(23022020)

int

In [70]:
str(23022020)

'23022020'

In [71]:
type(str(23022020))

str

In [72]:
int(str(23022020))
type(int(str(23022020)))

int

In [73]:
j = str(23022020)
len(j)

8

In [74]:
h = str(3.14)
h

'3.14'

In [75]:
len(h)

4

# Stringi tam sayıya dönüştürme

int() fonksiyonu kullınlarak string değişkeni tam sayıya dönüştürülür.

In [76]:
a = "4398467"
a

'4398467'

In [77]:
print(a)
type(a)

4398467

str

In [78]:
int(a)

4398467

Karakterler 10' luk tabansa sayı olmalıdır

In [79]:
a = "23ab"
aa = int(a)
aa

ValueError: invalid literal for int() with base 10: '23ab'

In [80]:
type(aa)

NameError: name 'aa' is not defined

In [81]:
type(a)

str