<span style = "color : red; font-size: 38px;"> for döngüsü - for loop  </span>

<span style = "color : red; font-size: 28px;"> in operatörü  </span>

In [1]:
5 in [1, 2, 3, 4, 5, 6]

True

In [2]:
9 in [1, 2, 3, 4, 5, 6]

False

In [3]:
"p" in "python"

True

In [4]:
"P" in "python"

False

<span style = "color : red; font-size: 28px;"> for operatörü in ile kullanılır </span>

In [5]:
liste = [1, 2, 3, 4, 5, 6]

for i in liste:
    print(i)

1
2
3
4
5
6

In [6]:
s = "Python"

for j in s:
    print(j)

P
y
t
h
o
n

In [7]:
tup = (1, 2, 3, 4, 5, 6)

for i in tup:
    print(i)

1
2
3
4
5
6

In [8]:
liste = [1, 2, 3, 4, 5, 6]

for i in liste:
    print(i ** 2)

1
4
9
16
25
36

In [9]:
sözlük1 = {"a":1, "b":2, "c":3, "d":4, "sene":"1945"}
sözlük1

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'sene': '1945'}

In [10]:
for x in sözlük1:
    print(x)

a
b
c
d
sene

In [11]:
for x in sözlük1.keys():
    print(x)

a
b
c
d
sene

In [12]:
for x in sözlük1.values():
    print(x)

1
2
3
4
1945

In [13]:
sözlük1.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('sene', '1945')])

In [14]:
for x, y in sözlük1.items():
    print(x," \t", y)

a  	 1
b  	 2
c  	 3
d  	 4
sene  	 1945

In [15]:
liste

[1, 2, 3, 4, 5, 6]

In [16]:
toplam = 0 

for i in liste:
    toplam = toplam + i
    
print("liste elemanlarının toplamı:", toplam)

liste elemanlarının toplamı: 21

In [17]:
print("liste elemanlarının toplamı :", sum(liste))

liste elemanlarının toplamı : 21

In [18]:
toplam = 0 

for i in liste:
    toplam = toplam + i 
    print("index: \t {} \teleman : {} \t toplam : {}".format(i-1, i, toplam))
    
print(F"\nliste elemanlarının toplamı {toplam} dır.")

index: 	 0 	eleman : 1 	 toplam : 1
index: 	 1 	eleman : 2 	 toplam : 3
index: 	 2 	eleman : 3 	 toplam : 6
index: 	 3 	eleman : 4 	 toplam : 10
index: 	 4 	eleman : 5 	 toplam : 15
index: 	 5 	eleman : 6 	 toplam : 21

liste elemanlarının toplamı 21 dır.

In [19]:
liste1 = [7, 8, 9, 12, 23, 35, 54, 55, 56, 89]

for k in liste1: 
    if k % 2 == 1:
        print(k)

7
9
23
35
55
89

In [20]:
for k in liste1: 
    if k % 2 == 0:
        print(k)

8
12
54
56

In [21]:
liste_tek = []

for k in liste1: 
    if k % 2 == 1:
        liste_tek.append(k)

liste_tek

[7, 9, 23, 35, 55, 89]

In [22]:
liste_çift = []

for k in liste1: 
    if k % 2 == 0:
        liste_çift.append(k)

liste_çift

[8, 12, 54, 56]

Stringler üzerinde gezinmek

In [23]:
s = "Python"

for j in s:
    print(j)

P
y
t
h
o
n

In [24]:
s = "Python"

for j in s:
    print(j + j)

PP
yy
tt
hh
oo
nn

In [25]:
s = "Python"

for j in s:
    print(j+j+j+j+j+j)

PPPPPP
yyyyyy
tttttt
hhhhhh
oooooo
nnnnnn

In [26]:
s = "Python"

for j in s:
    print(j * 5)

PPPPP
yyyyy
ttttt
hhhhh
ooooo
nnnnn

In [27]:
tuplee = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

for k in tuplee:
    print(k)

1
2
3
4
5
6
7
8
9
10

In [28]:
liste = [(1, 2), (2, 3), (3, 4), (4, 5), (5, 6)]

for i in liste: 
    print(i)

(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)

In [29]:
for (i, j) in liste:
    print(i, j)

1 2
2 3
3 4
4 5
5 6

In [30]:
liste

[(1, 2), (2, 3), (3, 4), (4, 5), (5, 6)]

In [31]:
for (i, j) in liste:
    print("i: {} \tj: {}".format(i, j))

i: 1 	j: 2
i: 2 	j: 3
i: 3 	j: 4
i: 4 	j: 5
i: 5 	j: 6

In [32]:
for (i, j) in liste:
    print(i * j)

2
6
12
20
30

In [33]:
liste = [(0,0,0), (1,2,3), (4,5,6), (8,9,0), (5,6,7)]

for (i, j, k) in liste:
    print(i, j, k)

0 0 0
1 2 3
4 5 6
8 9 0
5 6 7

In [34]:
liste = [(0,0,0), (1,2,3), (4,5,6), (8,9,0), (15,16,17)]

for (i,j,k) in liste:
    print("i: {} \tj: {} \tk: {}".format(i,j,k))

i: 0 	j: 0 	k: 0
i: 1 	j: 2 	k: 3
i: 4 	j: 5 	k: 6
i: 8 	j: 9 	k: 0
i: 15 	j: 16 	k: 17

In [35]:
liste = [(0,0,0), (1,2,3), (4,5,6), (8,9,0), (15,16,17)]

for (i,j,k) in liste:
    print(i + j + k)

0
6
15
17
48

In [36]:
liste = [(0,0,0), (1,2,3), (4,5,6), (8,9,0), (15,16,17)]

for (i,j,k) in liste:
    print(i * j * k)

0
6
120
0
4080

<span style = "color : red; font-size: 38px;"> List Comprehension  </span>

In [37]:
liste1 = [1, 2, 3, 4, 5]

liste2 = []

for i in liste1:
    liste2.append(i * 9)
    print("indis :", i-1, "\teleman:", liste1[i-1], "\telemanın 9 katı :", i * 9)
print("\n", liste2)

indis : 0 	eleman: 1 	elemanın 9 katı : 9
indis : 1 	eleman: 2 	elemanın 9 katı : 18
indis : 2 	eleman: 3 	elemanın 9 katı : 27
indis : 3 	eleman: 4 	elemanın 9 katı : 36
indis : 4 	eleman: 5 	elemanın 9 katı : 45

 [9, 18, 27, 36, 45]

In [38]:
liste3 = [i * 9 for i in liste1]
liste3

[9, 18, 27, 36, 45]

In [39]:
l1 = [1, 2, 3, 4, 5, 6, 7, 9, 10]

l2= []

for i in l1:
    l2.append(i ** 2)
    #print("indis :", i-1, "\teleman:", i, "\telemanın karesi :", i ** 2)
print("\n", l2)

 [1, 4, 9, 16, 25, 36, 49, 81, 100]

In [40]:
l3 = [i**2 for i in l1]
l3

[1, 4, 9, 16, 25, 36, 49, 81, 100]

In [41]:
liste = [(1,2), (3,4), (5,6)]

liste1 = [i * j for i,j in liste]
print(liste1)

[2, 12, 30]

In [42]:
s = "python"

liste1 = [i*3 for i in s]
print(liste1)

['ppp', 'yyy', 'ttt', 'hhh', 'ooo', 'nnn']

In [43]:
liste = [[1,2,3], [4,5,6,7,8], [9,10,11,12]]

for i in liste:
    #print(i)
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9
10
11
12

In [44]:
liste = [[1,2,3], [4,5,6,7,8], [9,10,11,12]]
liste1 = []

for i in liste:
    for j in i:
        liste1.append(j)

print(liste1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [45]:
liste = [[1,2,3], [4,5,6,7,8], [9,10,11,12]]

liste1 = [j for i in liste for j in i]

print(liste1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

<span style = "color : red; font-size: 28px;"> liste içindeki boş elemanları sorgulama </span>

In [46]:
liste = [ "", [ ], { }, [1,2], "minik", []]

for i in liste:
    if not i:
        print(f"{type(i)} içinde eleman yoktur.")

<class 'str'> içinde eleman yoktur.
<class 'list'> içinde eleman yoktur.
<class 'dict'> içinde eleman yoktur.
<class 'list'> içinde eleman yoktur.

<span style = "color : red; font-size: 28px;"> enumarate() </span>

<span style = "color : skyblue; font-size: 18px;"> enumarate() ile liste ya da tuple içindeki her elemanı index'i ile değerlendirir.  </span>

In [47]:
liste = ["İstanbul", "İzmir", "Kars", "Kastamonu"]
liste

['İstanbul', 'İzmir', 'Kars', 'Kastamonu']

In [48]:
for i, j in enumerate(liste):
    print(i,j)

0 İstanbul
1 İzmir
2 Kars
3 Kastamonu

In [49]:
for i, j in enumerate(liste, 34):
    print(i,j)

34 İstanbul
35 İzmir
36 Kars
37 Kastamonu

<span style = "color : red; font-size: 28px;"> reversed() </span>

In [50]:
liste = ["Kahve","Meyve","Tatlı","Ana Yemek","Çorba", "Köfte", "İzmir Köfte"]
liste

['Kahve', 'Meyve', 'Tatlı', 'Ana Yemek', 'Çorba', 'Köfte', 'İzmir Köfte']

In [51]:
for i in liste:
    print(i)

Kahve
Meyve
Tatlı
Ana Yemek
Çorba
Köfte
İzmir Köfte

In [52]:
for i in liste[::-1]:
    print(i)

İzmir Köfte
Köfte
Çorba
Ana Yemek
Tatlı
Meyve
Kahve

In [53]:
for i in reversed(liste):
    print(i)

İzmir Köfte
Köfte
Çorba
Ana Yemek
Tatlı
Meyve
Kahve

<span style = "color : red; font-size: 28px;"> ileri seviye sayılar </span>

<span style = "color : red; font-size: 28px;"> 10 tabanından 2 tabanına dönüştürme </span>

In [54]:
bin(4)

'0b100'

In [55]:
bin(8)

'0b1000'

<span style = "color : red; font-size: 28px;"> 10 tabanında 16 tabanına dönüştürme </span>

In [56]:
hex(16)

'0x10'

In [57]:
hex(32)

'0x20'

In [58]:
hex(33)

'0x21'

<span style = "color : red; font-size: 28px;"> Sayılarla ilgili fonksiyonlar </span>

<span style = "color : red; font-size: 22px;"> Mutlak değer abs() </span>

In [59]:
abs(-7)

7

<span style = "color : red; font-size: 22px;"> Yuvarlama round() </span>

In [60]:
round(4.9)

5

In [61]:
round(4.5)

4

In [62]:
round(4.6888878887, 5)

4.68889

<span style = "color : red; font-size: 22px;"> max() </span>

In [63]:
l = [1, 2, 3, 100]
max(l)

100

<span style = "color : red; font-size: 22px;"> min() </span>

In [64]:
min(l)

1

<span style = "color : red; font-size: 22px;"> sum() </span>

In [65]:
sum(l)

106

<span style = "color : red; font-size: 22px;"> pow() </span>

In [66]:
pow(2, 0.5)

1.4142135623730951

In [67]:
pow(1/2, 0.5)

0.7071067811865476

In [68]:
round(pow(1/2, 0.5), 5)

0.70711